# Show us information about failures.
build --verbose_failures
test --test_output=errors
test --test_verbose_timeout_warnings

# Include version info
build --stamp
build --workspace_status_command scripts/workspace-status
